.App {
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .bg-container{
    background-color: #0C0C0C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }